/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
.table-row-cell {
    -fx-cell-size: 30px;
}
.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    
}
.table-view .column-header  {
    -fx-size:40px;
    
}
